html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    overflow-x: hidden;
}
.card-deck {
    padding: 0vh 5vh 5vh 5vh;
}

.card {
    transition: all .2s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}